*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling */

.navbar{
    position: fixed;
    width:100%;
    /* background: crimson; */
    padding: 30px 0;
    font-family:'Ubuntu',sans-serif;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a samp{
    color:lawngreen;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: aqua;
}

/*home section*/
.home{
    display: flex;
    background: url("./image/cover_page.jfif") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family:'Ubuntu',sans-serif; */
   

}
 .home .max-width{
    margin: auto 0 auto 40px;

}
.home .home-content .text-1{
    font-size:27px;
    
    
}
.home .home-content .text-2{
    font-size:75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size:40px;
    margin:5px 0;
}
.home .home-content .text-3 samp{
    color:aqua;
    font-weight: 500;
}

